#searchbar{
    width: 60%;
    height: 45px;
    border-radius: 0 2px 0 2px;
    float:left;
}
#searchbar:focus{ /*Causes searchbar border colour to change onclick and back when click made elsewhere*/
    border-color: green;
}

.searchButton, .advancedButton{
    margin-left: 2px;
    float: left;
    border-radius: 0 2px 0 2px;
    cursor: pointer;
    width: 45px;
    height: 45px;
    cursor: pointer;

    /* Want it to be transparent, so that background colour takes over
    box-shadow: 2px 2px gray;
    background-color: whitesmoke;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: 22px;
    */
}
.searchButton:active{
    box-shadow: -1.5px -1.5px gray;
}
.advancedButton:active{
    box-shadow: -1.5px -1.5px gray;
}