body{
    background-color: aquamarine;
}

/*For the title header and its buttons*/
header{
    width:100%;
    height: 40%;
    padding: 1% 1.5% 0.5% 0.5%;
    margin: -1% 0% 0% -1%;
    background-color:wheat;
    overflow-x:visible;
}
#header-logo, #header-search, #header-buttons{
    display: inline-block; 
    vertical-align: middle;
}
#header-logo{
    height: 55px;
    width: 25%;
}
#header-search{
    height: 55px;
    width: 50%;
}
#header-buttons{
    height: 55px;
    width: 25%;
}
#logo{
    width:90%;
}
#advancedButton,#cartButton,#borrowingsButton{
    vertical-align: middle;
    width: 45px;
    height: 45px;
    border-radius: 0 2px 0 2px;
    outline: none;
    box-shadow: none;
    cursor: pointer;

    box-shadow: 2px 2px gray;

    background-color: whitesmoke;
    background-position-x: 50%;
    background-position-y: center;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: 22px;
}
#advancedButton{
    float: left;
    margin-left: 0.5%;
    background-image: url(./icons/settings.svg); /*Must be in same folder as component*/
}
#advancedButton:active{
    box-shadow: -1.5px -1.5px gray;
}
#cartButton{
    float:left;
    margin-left: 50%;
    background-image: url(./icons/cart.svg); /*Must be in same folder as component*/
}
#cartButton:active{
    box-shadow: -1.5px -1.5px gray;
}
#borrowingsButton{
    float:left;
    margin-left: 2%; /*Puts a space between the cart and borrowings buttons*/
    background-image: url(./icons/borrowings.svg); /*Must be in same folder as component*/
}
#borrowingsButton:active{
    box-shadow: -2px -2px gray;
}

/*For the navbar*/
/*When you click on a link, React Router automatically assigns a class value of "active"
This CSS causes the clicked link to have a background of blue*/
/*
.active {
    background-color: #0099FF;
}*/
ul.navbar li {
    display: inline;
    list-style-type: none;
    margin: 0;
}
ul.navbar {
    background-color: #111;
    padding: 0;
}
ul.navbar li a {
    color: #FFF;
    font-weight: bold;
    text-decoration: none;
    padding: 20px;
    display: inline-block;
}

