body{
    background-color: whitesmoke
}
#advancedButton,#borrowingsButton{
    float: left;
    border-radius: 0 2px 0 2px;
    outline: none;
    box-shadow: none;
    cursor: pointer;

    box-shadow: 2px 2px gray;

    background-color: whitesmoke;
    background-position-x: 50%;
    background-position-y: center;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: 22px;

    width: 45px;
    height: 45px;
}
#advancedButton{
    margin-left: 0.5%;
    background-image: url(./icons/settings.svg); /*Must be in same folder as component*/
}
#advancedButton:active{
    box-shadow: -1.5px -1.5px gray;
}
#borrowingsButton{
    margin-left: 2%;
    /*margin-left: 2%; Puts a space between the cart and borrowings buttons*/
    background-image: url(./icons/borrowings.svg); /*Must be in same folder as component*/
}
#borrowingsButton:active{
    box-shadow: -2px -2px gray;
}

/*For the navbar*/
/*When you click on a link, React Router automatically assigns a class value of "active"
This CSS causes the clicked link to have a background of blue*/
/*
.active {
    background-color: #0099FF;
}*/
ul.navbar li {
    display: inline;
    list-style-type: none;
    margin: 0;
}
ul.navbar {
    background-color: #111;
    width: 1085px;
    padding: 0;
}
ul.navbar li a {
    color: #FFF;
    font-weight: bold;
    text-decoration: none;
    padding: 20px;
    display: inline-block;
}

